{
	"extends": "airbnb-base",
	"env": {
		"node": true,
		"jquery": true,
		"browser": true
	},
	"rules": {
		"no-console": 0,
		"indent": "off",
		"no-tabs": "off",
		"no-undef": "off",
		"arrow-parens": "off",
		"spaced-comment": "off",
		"no-unused-vars": "off",
		"import/extensions": "off",
		"no-param-reassign": "off",
		"no-trailing-spaces": "off",
		"no-restricted-syntax": "off",
		"object-curly-newline": "off",
		"implicit-arrow-linebreak": "off",
		"import/prefer-default-export": "off",
		"no-multiple-empty-lines": "warn",
		"no-var": "error",
		"linebreak-style": ["error", "windows"],
		"prefer-const": [
			"error",
			{
				"destructuring": "any",
				"ignoreReadBeforeAssign": false
			}
		],
		"quotes": [2, "single", { "avoidEscape": true }],
		"no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
		"no-use-before-define": ["error", { "functions": true, "classes": true, "variables": true }]
	}
}
