extends ../layouts/default

block variables
	- const title = "New Page";

block content
	include ../layouts/header

	
	<svg class="social__icon">
		<use xlink:href="./svg/sprite.svg#gulp"></use>
	</svg>
	img(src="https://raw.githubusercontent.com/kah3vich/Gulp-RS/master/main/logo.svg")

	include ../layouts/footer

block modal
	.modal

block scripts
	script(src="js/main.js")