extends ../layouts/default

block variables
	- const title = "Main Page";

block content
	include ../components/Header/index

	include ../components/_Welcome/index

	include ../components/Footer/index

	include ../components/Modal/index

block scripts
	script(src="js/main.js")