extends ../layouts/default

block variables
	- const title = "Main Page";

block content
	include ../components/Header/index

	include ../components/pages/Welcome/index

	include ../components/Footer/index

block scripts
	script(src="js/main.js")