.logo#active 
    img(src="@img/logos.svg", alt="logos")
.gulp#gulp 
    img(src="@img/gulp.svg", alt="gulp")
ul.header__list 
    li 
        a(href="https://github.com/gulp-community/gulp-pug" target="_blank").header__list-item P
            p Pug 5.0.0
    li
        a(href="https://github.com/sass/sass" target="_blank").header__list-item S
            p Scss 5.0.0
    li
        a(href="https://github.com/babel/gulp-babel" target="_blank").header__list-item B
            p Babel 7.15.8
    li
        a(href="https://github.com/haoxins/gulp-file-include" target="_blank").header__list-item I
            p Include File 2.3.0
    li
        a(href="https://github.com/webpack/webpack" target="_blank").header__list-item W
            p Webpack 5.65.0
.header__version
    a(href="https://github.com/kah3vich/Gulp-RS" target="_blank") v. 1.0.0