section.welcome
	.containers
		.welcome__logo
			img(src="https://raw.githubusercontent.com/kah3vich/Gulp-RS/master/assets/svg/logo.svg")
		ul.welcome__content 
			li.welcome__item 
				+welcomeCard('/', 'Get Started', 'Article on quick start set GulpRS.')
			li.welcome__item 
				+welcomeCard('/', 'Documentation', 'Read more about GulpRS in the documentation.')
