@@include('components/_head.pug', {
    "title": "Gulp-RS",
})

@@include('components/_header.pug')

@@include('components/_start.pug')

@@include('components/_footer.pug')

@@include('components/_script.pug')