@font-face { 
	font-family: B612; 
	font-display: swap; 
	src: url("../fonts/B612.woff") format("woff"), url("../fonts/B612.woff2") format("woff2"); 
	font-weight: 400; 
	font-style: normal; 
}
@font-face { 
	font-family: B612; 
	font-display: swap; 
	src: url("../fonts/B612-Bold.woff") format("woff"), url("../fonts/B612-Bold.woff2") format("woff2"); 
	font-weight: 700; 
	font-style: normal; 
}
@font-face { 
	font-family: B612; 
	font-display: swap; 
	src: url("../fonts/B612-Italic.woff") format("woff"), url("../fonts/B612-Italic.woff2") format("woff2"); 
	font-weight: 400; 
	font-style: italic; 
}
@font-face { 
	font-family: B612; 
	font-display: swap; 
	src: url("../fonts/B612-BoldItalic.woff") format("woff"), url("../fonts/B612-BoldItalic.woff2") format("woff2"); 
	font-weight: 700; 
	font-style: italic; 
}
@font-face { 
	font-family: B612; 
	font-display: swap; 
	src: url("../fonts/B612-Regular.woff") format("woff"), url("../fonts/B612-Regular.woff2") format("woff2"); 
	font-weight: 400; 
	font-style: normal; 
}
