@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-ExtraBold.woff") format("woff"),
        url("../fonts/Inter-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-Black.woff") format("woff"),
        url("../fonts/Inter-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-Bold.woff") format("woff"),
        url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-Light.woff") format("woff"),
        url("../fonts/Inter-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-ExtraLight.woff") format("woff"),
        url("../fonts/Inter-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-Regular.woff") format("woff"),
        url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-Medium.woff") format("woff"),
        url("../fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-SemiBold.woff") format("woff"),
        url("../fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-Black.woff") format("woff"),
        url("../fonts/NunitoSans-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-BlackItalic.woff") format("woff"),
        url("../fonts/NunitoSans-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-BoldItalic.woff") format("woff"),
        url("../fonts/NunitoSans-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-Bold.woff") format("woff"),
        url("../fonts/NunitoSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-ExtraBold.woff") format("woff"),
        url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Inter;
    font-display: swap;
    src:
        url("../fonts/Inter-Thin.woff") format("woff"),
        url("../fonts/Inter-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-ExtraLight.woff") format("woff"),
        url("../fonts/NunitoSans-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-ExtraLightItalic.woff") format("woff"),
        url("../fonts/NunitoSans-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-Italic.woff") format("woff"),
        url("../fonts/NunitoSans-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-LightItalic.woff") format("woff"),
        url("../fonts/NunitoSans-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-ExtraBoldItalic.woff") format("woff"),
        url("../fonts/NunitoSans-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-Light.woff") format("woff"),
        url("../fonts/NunitoSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-Regular.woff") format("woff"),
        url("../fonts/NunitoSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-SemiBold.woff") format("woff"),
        url("../fonts/NunitoSans-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: NunitoSans;
    font-display: swap;
    src:
        url("../fonts/NunitoSans-SemiBoldItalic.woff") format("woff"),
        url("../fonts/NunitoSans-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}
