@import "fonts";

//! --------------------------------------------------------------------
//! Переменные ---------------------------------------------------------
//! --------------------------------------------------------------------

$bg: #1e4029;

//! --------------------------------------------------------------------
//! Стили --------------------------------------------------------------
//! --------------------------------------------------------------------

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	user-select: text; // fix
}

body {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: $bg;
	overflow: hidden;
	position: relative;
	font-family: TTNorms;
}

a {
	text-decoration: none;
}
ul {
	list-style: none;
}
input {
	padding: 0;
	margin: 0;
	border: 0;
	border: none;
}
button {
	padding: 0;
	border: none;
	cursor: pointer;
}
.containers {
	max-width: 1440px;
	padding: 0 165px;
	margin: 0 auto;
	width: 100%;
}
ol,
ul {
	padding-left: 0;
}
dl,
ol,
ul {
	margin-top: 0;
	margin-bottom: 0;
}
p {
	margin-top: 0;
	margin-bottom: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}
.display-n {
	display: none !important;
}

//! --------------------------------------------------------------------
//! Подключение файлов -------------------------------------------------
//! --------------------------------------------------------------------

@import "index/style";

//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
//! --------------------------------------------------------------------
