//| 🌈 Color

$color-green: #1e4029;
$color-yellow: #d5a54e;
$color-blue: #61dafb;
$color-black: #000;
$color-very-black: #20232a;
$color-white: #fff;

//| 🐳 Fonts size

$font-xx-small: 6px;
$font-x-small: 10px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 20px;
$font-x-large: 30px;
$font-xx-large: 40px;
$font-xxx-large: 50px;

//| 🌊 Fonts weight

$font-thin: 100;
$font-ultralight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-ultrabold: 800;
$font-black: 900;
