section.welcome
	.containers
		.welcome__logo
			img(src="https://raw.githubusercontent.com/kah3vich/Gulp-RS/master/assets/svg/logo.svg")
		ul.welcome__content 
			li.welcome__item 
				+welcomeCard('https://github.com/kah3vich/Gulp-RS/blob/set/readme.md', 'Get Started', 'Article on quick start set GulpRS.')
			li.welcome__item 
				+welcomeCard('https://github.com/kah3vich/Gulp-RS/blob/master/readme.md', 'Documentation', 'Read more about GulpRS in the documentation.')
