mixin welcomeCard(href, title, description)
    a(href=href target="_blank").welcomeCard
        .welcomeCard__title 
            h5= title
            img(src="../../../svg/arrow-right.svg" alt="arrow")
        p.welcomeCard__text= description