//| 💧 Styles

.welcome {
	width: 100%;

	& .containers {
		position: relative;
	}

	&__logo {
		@include absoluteStyle(-55%, auto, auto, 50%, translate(-50%, -65%));
	}

	&__content {
		position: relative;
		z-index: 1;
		width: 60%;
		margin: 0 auto;
		@include gridStyle(repeat(auto-fill, minmax(300px, 1fr)), auto, 30px);
	}

	&__item {
		width: 100%;
	}
}

//| 🌂 Mixins

.welcomeCard {
	@include flexStyle(flex-start, flex-start, column, 12px);

	width: 100%;
	min-height: 120px;
	border: 2px solid $color-blue;
	padding: 18px;
	border-radius: 20px;
	background-color: $color-very-black;

	&:hover {
		& img {
			transform: translateX(10px);
		}
		& p {
			color: $color-white;
		}
	}

	&__title {
		@include flexStyle(center, flex-start, row);

		& h5 {
			@include fontStyle($font-medium, $font-semibold, 23px, $color-blue);
		}

		& img {
			@include transitionStyle;
			width: 35px;
			height: 25px;
		}
	}

	&__text {
		@include fontStyle($font-small, $font-medium, 19px, $color-blue);
		@include transitionStyle;
	}
}

//| ☔ Medias

@media screen and (max-width: 1050px) {
	.welcome__logo {
		top: -25%;
	}
}

@media screen and (max-width: 550px) {
	.welcome__content {
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.welcome__content {
		grid-template-columns: 1fr;
	}
}
